<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">APELLIDO</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let M of usuarios">
        <th scope="row">{{M.id}}</th>
        <td>{{M.nombre}}</td>
        <td>{{M.apellido}}</td>
        <td><button type="button" class="btn btn-success" (click)="editar(M.id)">EDITAR</button>
            <button type="button" class="btn btn-danger" (click)="borrar(M.id)">BORRAR</button>
        </td>
      </tr>
    </tbody>
  </table>
