

<div class = "row">
    <div class="col-md-3" [hidden]="!autService.activo">
        <div class="list-group">
            <!--<a href="#" class="list-group-item list-group-item-action active">
              Cras justo odio
            </a>-->
            <a class="list-group-item" routerLink="/componentes/componentes">componentes</a>
            <a class="list-group-item" routerLink="/directivas/ciclo">ciclo</a>
            <a class="list-group-item" routerLink="/directivas/switch">switch</a>
            <a class="list-group-item" routerLink="/directivas/clase">clase</a>
            <a class="list-group-item" routerLink="/directivas/estilo">estilo</a>
            <a class="list-group-item" routerLink="/modulos-externos/modulos-externos">modulos-externos</a>
            <a class="list-group-item" routerLink="/modulos/bootstrap">bootstrap</a>
            <a class="list-group-item" routerLink="/directivas/condicion">condicion</a>
            <a class="list-group-item" routerLink="usuarios">usuarios</a>
            <a class="list-group-item" routerLink="observador">observador</a>
          </div>
    </div>
    <div class="col-md-9" [ngClass]="{'col-md-9':autService.activo, 'col-md-12':!autService.activo}">

      <ul class="nav justify-content-end" [hidden]="!autService.activo">
        <li class="nav-item">
          <button class="btn btn-success" (click)="autService.salir()">S A L I R</button>
        </li>
      </ul>


        <router-outlet></router-outlet>
    </div>
</div>