

<div class = "row">
    <div class="col-md-3">
        <div class="list-group">
            <!--<a href="#" class="list-group-item list-group-item-action active">
              Cras justo odio
            </a>-->
            <a class="list-group-item" routerLink="/componentes/componentes">componentes</a>
            <a class="list-group-item" routerLink="/directivas/ciclo">ciclo</a>
            <a class="list-group-item" routerLink="/directivas/switch">switch</a>
            <a class="list-group-item" routerLink="/directivas/clase">clase</a>
            <a class="list-group-item" routerLink="/directivas/estilo">estilo</a>
            <a class="list-group-item" routerLink="/modulos-externos/modulos-externos">modulos-externos</a>
            <a class="list-group-item" routerLink="/modulos/bootstrap">bootstrap</a>
            <a class="list-group-item" routerLink="/directivas/condicion">condicion</a>
            <a class="list-group-item" routerLink="usuarios">usuarios</a>
          </div>
    </div>
    <div class="col-md-9">
        <router-outlet></router-outlet>
    </div>
</div>