<!--<app-vista-condicion></app-vista-condicion>
<app-vista-switch></app-vista-switch> 
<div id="Resultado"></div>
<app-agregar-usuario></app-agregar-usuario>
<app-tarjeta></app-tarjeta>
<app-vista-bootstrap></app-vista-bootstrap>
<app-modulos-externos></app-modulos-externos>
<app-catalogo-productos></app-catalogo-productos>
<app-vista-ciclo></app-vista-ciclo>
<app-vista-clase></app-vista-clase>
<app-vista-estilo></app-vista-estilo>-->

<div class = "row">
    <div class="col-md-3">
        <div class="list-group">
            <!--<a href="#" class="list-group-item list-group-item-action active">
              Cras justo odio
            </a>-->
            <a href="#" class="list-group-item" routerLink="/componentes/componentes">componentes</a>
            <a href="#" class="list-group-item" routerLink="/directivas/ciclo">ciclo</a>
            <a href="#" class="list-group-item" routerLink="/directivas/switch">switch</a>
            <a href="#" class="list-group-item" routerLink="/directivas/clase">clase</a>
            <a href="#" class="list-group-item" routerLink="/directivas/estilo">estilo</a>
            <a href="#" class="list-group-item" routerLink="/modulos-externos/modulos-externos">modulos-externos</a>
            <a href="#" class="list-group-item" routerLink="/modulos/bootstrap">bootstrap</a>
            <a href="#" class="list-group-item" routerLink="/directivas/condicion">condicion</a>
          </div>
    </div>
    <div class="col-md-9">
        <router-outlet></router-outlet>
    </div>
</div>