<div class="card-footer text-muted">
    {{precio2 | number: '2.2-6'}}<!--PIPE (sirve para acortar decimales)-->
    
    <!--<input type="number" value="1.0">     metodo normal--> 
    <!--<input type="number" [value]="precio">--> <!--ANGULAR-->
    <br><label>Precio</label> <br>
        <input type="number" [value]="precio" (change)="calculoImporte($event)"> <!--JAVASCRIPT-->
    <br><label>Cantidad</label> <br>
        <input type="number" [value]="cantidad" (change)="cantidad = $event.target.value"> <!--ANGULAR-->
    <br>
        <label>este es el importe real: {{importe}}</label>
    <br>  
        <button (click)="calculaTotal()">Importe Total</button>
        <br><br><br>
        <button type="button" class="btn btn-primary" (click)="seleccionar()">S E L E C C I O N A R</button>
        
  </div>